name: Deploy Function

on:
  push:
    branches:
      - main
    paths:
      - 'apps/unovision-backend/**'
  workflow_dispatch:

defaults:
  run:
    working-directory: apps/unovision-backend

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}

    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Deploy all functions to production
        run: supabase functions deploy --project-ref $PROJECT_ID