name: Check Types

on:
  pull_request:
    branches: ["main"]

jobs:
  check-types:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Detecta versión desde "packageManager" en package.json
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false   # NO instalar aquí todavía

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run type checks
        run: pnpm turbo run check-types
